
backend:
  name: git-gateway
  branch: main

media_folder: "uploads"
public_folder: "/uploads"

collections:
  - name: "products"
    label: "Products"
    file: "products.json"
    fields:
      - {label: "Category", name: "category", widget: "select", options: ["Solar Panels","Solar Street Lights","Solar Inverters / Controllers","Wires & Cables","LED Bulbs / Flood Lights","Mobile Accessories","Fans & Appliances","Tool & Installation Material"]}
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Price", name: "price", widget: "string"}
      - {label: "Description", name: "desc", widget: "text"}
